{% extends 'base.html' %}
{% load static %}

{% block title %}Bobur Korpusi - Bosh Sahifa{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="hero-content">
        <h1>Zahiriddin Muhammad<br>Bobur ibn Umarshayx Mirzo</h1>
        <div class="hero-quote">
            <p>"Jahon tarixida o'chmas iz qoldirgan betakror siymolardan biri Zahiriddin Muhammad Bobur buyuk shoir, qomusiy olim, davlat arbobi va mohir sarkarda sifatida butun dunyoda ma'lum va mashhurdir. Uning beqiyos ilmiy-ijodiy merosi nafaqat milliy madaniyatimiz va xalqimiz adabiy-estetik tafakkurining shakllanishida, balki jahon adabiyoti, ilm-fani va davlatchiiligi tarixida alohida o'ringa ega" —</p>
            <cite>O'zbekiston Respublikasi Prezidenti Shavkat Miromonovich Mirziyoyev</cite>
        </div>
    </div>
</div>
{% endblock %}
